/* FONTS */
@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-SemiBold.woff2') format('woff2'),
  url('fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Bold.woff2') format('woff2'),
  url('fonts/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


/* Custom Prop */
:root{
  --Midnight-Green: #014E56;
  --Light-Coral: #f67e7e;
  --Rapture-Blue: #79c8c9;
  --Polic-Blue: #2c6269;
  --Deep-Jungle-Green:#004047;
  --Sacramento-State-Green: #012f34;
  --Dark-Green: #002529;
}

/* GLOBAL STYLES */

html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: var();
  color: var();
}

img{
  max-width: 100%;
  height: auto;
}


/* CONTAINER*/
.container{
  width: 100%;
  max-width: 1440px;
  padding-left: 165px;
  padding-right: 165px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN CONTENT */
.main-content{
  flex-grow: 1;
}

/* SITE-HEADER */
.header {
  background-color: var(--Polic-Blue);
}

.site-nav {
  width: 100%;
  max-width: 1110px;
  display: flex;
  align-items: center;
  padding-top: 77px;
  padding-bottom: 77px;

}
.logo-link{
  text-decoration: none;

}

.logo {
  display: block;
  object-fit: cover;
  margin-right: 80px;
  width: 160px;
  height: 40px;
}
.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar-item:not(:last-child){
  margin-right: 40px;
}
.navbar-link {
  color: #fff;
  text-decoration: none;
  font-family: "Livvic" sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}
.navbar-link:hover{
  color: var(--Light-Coral);
}
.button {
  margin-left: auto;
  padding: 9px 33px 11px 33px;
  font-family: "Livvic" sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #fff;
  border-radius: 24px;
  border: 2px solid #fff;
  cursor: pointer;
}
.navbar-button:hover{
  background-color: #fff;
  color: #002529;
}

/* SITE-HERO */
.hero {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: flex-end;
  color: #fff;
  padding-top: 54px;
  padding-bottom: 250px;
  position: relative;
}

.director-circle{
  position: absolute;
  width: 200px;
  height: 200px;
  top: 54px;
  left: -300px
}

.hero-circle-red{
  position: absolute;
  bottom: -20%;
  right: 23px;
  z-index: 1;
}

.site-title {
  width: 605px;
  margin: 0;
  margin-right: 30px;
  padding: 0;
  font-family: "Livvic" sans-serif;
  font-size: 100px;
  line-height: 100px;
  font-weight: 700;
}

.site-text {
  width: 445px;
  margin-left: auto;
  font-family: "Livvic" sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.hero-highlight-word{
  color: var(--Light-Coral);
}

/* SETTING-SECTION */
.setting-section {
  background-color: var(--Sacramento-State-Green);
  z-index: 3;


}
.wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 1110px;
  padding-top: 198px;
  padding-bottom: 140px;
  position: relative;

}
.setting-section-line{
  position: absolute;
  top: 140px;
  left: 0;
  width: 50px;
  height: 4px;
  border: none;
  background-color: var(--Light-Coral);
}

.setting-title {
  width: 548px;
  padding: 0;
  margin: 0;
  padding-top: 54px;
  margin-right: 125px;
  font-family: "Livvic" sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  color: #fff;
}
.setting-features {
}
.setting-feature-item {
  display: flex;
  align-items: center;
}
.setting-feature-item-img {
  display: block;
  width: 56px;
  height: 56px;
  margin-right: 23px;
  object-fit: cover;
}
.setting-feature-item-info {
}
.setting-feature-item-info-title {
  font-family: "Livvic" sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: var(--Light-Coral);
  margin-bottom: 16px;
}
.setting-feature-item-info-text {
  font-family: "Livvic" sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 600;
  color: #fff;
}

.setting-feature-client-circle{
  position: absolute;
  right: -247px;
  bottom: 0;
}

/* STORY-TELLING-STORY-SECTION */
.success-story-section {
  padding-top: 140px;
  padding-bottom: 150px;
  background-color: var(--Deep-Jungle-Green);
}

.container{
  position: relative;
}

.success-story-title {
  width: 932px;
  padding: 0;
  padding-bottom: 92px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Livvic" sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.success-story-highlight{
  color: var(--Rapture-Blue);

}
.success-story-telling-wrapper {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;

}
.success-story-telling-item {
  width: 350px;
  padding: 0;
  margin: 0;
  font-family: "Livvic" sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 7;
}

.quotes{
  position: absolute;
  top: -40px;
  left: 37%;
  z-index: 3;
}

.success-story-telling-item:not(:last-child){
  margin-right: 30px;
}
.success-story-telling-text {
  padding: 0;
  margin: 0;
  padding-bottom: 24px;
  font-family: "Livvic" sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 600;
  color: #fff;
  z-index: 5;

}
.success-story-telling-person {
  padding: 0;
  margin: 0;
  padding-bottom: 2px;
  color: var(--Rapture-Blue);
}
.success-story-telling-position {
  padding-bottom: 32px;
  font-family: "Livvic" sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  font-style: italic;
}
.success-story-telling-img {
  width: 62px;
  height: 62px;
  object-fit: cover;
  border-radius: 50%;
}

/* REVIEW-LEFT-BG */
.review-bg-left{
  position: absolute;
  top: -180px;
  left: 0;
}

.review-bg-right{
  position: absolute;
  right: 0;
  bottom: -250px;
  z-index: 7;
}


/* READY TO GET START */
.ready-section {
  background-color: var(--Light-Coral);
  padding-top: 76px;
  padding-bottom: 76px;
  z-index: 9;
}

.container{
  position: relative;
}

.ready-section-inner {
  display: flex;
  align-items: center;
}
.get-ready-title {
  padding-left: 95px;
  font-family: "Livvic" sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  color: #012F34;
}
.ready-button {
  border: 2px solid #012F34;
  color:#012F34;
  text-decoration: none;
}

.ready-button:hover{
  color: #fff;
  background-color: #012f34;
}

.cta-bg{
  position: absolute;
  top: 60px;
  right: 1240px;
  z-index: 11;
}

/* SITE-FOOTER */
.site-footer {
  background-color: var(--Dark-Green);
  z-index: 13;
}
.container {
}

.footer-inner {
  display: flex;
  align-items: flex-start;
  padding-top: 48px;
  padding-bottom: 48px;
}

.footer-navbar {
  margin: 0;
  padding: 0;
  margin-right: 125px;
}

.footer-logo {
  display: block;
  object-fit: cover;
  width: 160px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.footer-navbar-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer-nabar-item {
  padding-top: 25px;
  list-style: none;
}

.footer-nabar-item:not(:last-child){
  margin-right: 40px;
}

.navbar-link {
}

.footer-address {
  font-family: "Livvic" sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 600;
  color: #fff;
  opacity: 0.6;
  mix-blend-mode: normal;

}

.footer-social {
  margin-left: auto;
}
.social-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.social-item {
  margin: 0;
  padding: 0;
  margin-left: auto;
  padding-bottom: 51px;
}

.social-link {
  text-decoration: none;
  color: #fff;
}

.social-link:hover{
  color: var(--Light-Coral);
}


.copy-right {
  font-family: "Livvic" sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 600;
  color: #fff;
  opacity: 0.6;
  mix-blend-mode: normal;
}


/* ABOUT PAGE */

.about-hero{
  display: flex;
 align-items: flex-start;
  position: relative;
  padding-top: 47px;
  padding-bottom: 176px;
  color: #fff;
}


.about-title{
  width: 350px;
  height: 100px;
  padding: 0;
  margin: 0;
  margin-right: 30px;
  font-size: 64px;
}

.about-text{
  width: 730px;
  font-size: 18px;
  line-height: 28px;
  padding: 0;
  margin: 0;
  padding-top: 40px;

}

.about-hr{
  width: 50px;
  height: 4px;
  top: 40;
  left: 380px;
  border: none;
  background-color: #F67E7E;
  position: absolute;
}

/* DIRECTOR_SECTION */
.director-section {
  background-color: #004047;
}
.container {
}
.director-wrapper {
  padding-top: 140px;
  padding-bottom: 168px;
  margin: 0;

}
.section-title {
  padding-bottom: 64px;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  font-family: "Livvic" sans-serif;
  color: #fff;
  text-align: center;
}
.director-profiles {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -76px;

}
.director-profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 253px;
  padding-top: 32px ;
  margin-left: 30px;
  margin-bottom: 76px;
  background-color: #012F34;
  color: #fff;
  position: relative;
}

.extra-info{
  padding-left: 48px;
  padding-right: 48px;
  text-align: center;
}

.create-account-social{
  padding-top: 24px;
}

.social-account:not(:last-child){
  margin-right: 16px;
}

.director-img {
  border-radius: 50%;
  border: 2px solid #C4FFFE;

}
.director-name {
  padding-top: 16px;
  font-style: 18px;
  line-height: 28px;
  font-weight: 700;
  font-family: "Livvic" sans-serif;
  color: #79C8C7;
}
.director-position {
  font-style: 15px;
  line-height: 25px;
  font-style: italic;
  font-weight: 500;
}

.plus{
  position: absolute;
  left: 42%;
  bottom: -10%;
}

.plus-create{
  color
}